.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light),var(--bs-text-opacity))!important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
}

